    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #04574f;
    }

    .navbar img {
      margin-top: 5px;
      margin-left: 25px;
      width: 220px;
      height: 50px;
    }

    .navbar {
      position: sticky;
      top: 0;
      z-index: 100;
      width: 100%;
      background-color: #04574f;
      display: flex;
      justify-content: space-between;
    }

    .nav-center {
      display: flex;
      list-style: none;
    }

    .nav-center li {
      margin: 22px;
    }

    .nav-center a {
      text-decoration: none;
      color: #eff2f2;
      padding: 23px 5px;
      font-family: khmer os apsara;
      font-size: 20px;
      font-weight: bold;
    }

    .nav-center a:hover {
      color: rgb(127, 245, 127);
      box-shadow: 0px 1px 20px 1px #ebd1e3;
    }

    .nav-login {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-nav {
      margin-right: 20px;
      margin-top: 10px;
      background-color: #04574f;
      padding: 10px 1px;
      font-family: khmer os koulen;
      font-size: 14px;
      border: 1.5px dashed #f8f5f5;
      border-radius: 30px;
    }

    .btn-nav a {
      text-decoration: none;
      color: #fafbfb;
      padding: 10px 75px;
      border-radius: 30px;
    }

    .btn-nav a:hover {
      color: rgb(127, 245, 127);
      box-shadow: 0px 0px 20px 0px #ebd1e3;
      cursor: pointer;
    }

    .navbar .hambuger {
      cursor: pointer;
      color: black;
      animation: hambuger 1s linear infinite alternate;
      display: none;
    }

    @keyframes hambuger {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.2);
      }
    }

    @media (max-width: 1280px) {

      .navbar,
      .hambuger {
        display: flex;
      }

      .nav-center {
        display: none;
      }

      .navbar img {
        display: block;
      }
    }

    .line {
      position: fixed;
      width: 100%;
      z-index: 1;
    }

    .cover {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cover img {
      border-radius: 20px;
      width: 95%;
      object-fit: cover;
      margin-top: 10px;
    }


    .head-title {
      text-align: center;
      margin-top: 20px;
      font-family: khmer os dangrek;
      color: #eff2f2;
    }

    /* Container */
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
      width: 90%;
      margin: auto;
      gap: 20px;
    }

    /* Product Card */
    .container .product-card {
      background-color: rgb(238, 249, 246);
      width: 100%;
      padding: 20px;
      margin-top: 20px;
      border-radius: 5px;
    }

    .product-card:hover,
    .product-card img {
      transform: scale(1.08);
      transition: 0.5s;
    }

    .product-card img {
      width: 100%;
      height: 300px;
      border-radius: 5px;
    }

    .price {
      color: #04574f;
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 8px;
    }

    .content {
      font-size: 18px;
      color: rgb(221, 38, 38);
    }

    .btn {
      background-color: #04574f;
      padding: 12px 20px;
      font-size: 18px;
      width: 100%;
      border: none;
      border-radius: 8px;
      color: white;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
