* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #04574f;
}

.navbar {
    background-color: #04574f;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar img {
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 50px;
    width: 220px;
    height: 50px;
}

.line {
    position: fixed;
    width: 100%;
}

.back {
    font-family: khmer os freehand;
    padding: 20px;
    margin-left: 30px;
}

.back a {
    text-decoration: none;
    color: rgb(247, 247, 243);
    margin-left: 10px;
}

.body-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    width: 90%;
    margin-top: 20px;
    gap: 20px;
}

.product-img {
    text-align: center;
    width: 100%;
    padding: 20px
}

.product-img img {
    width: 450px;
    height: 500px;
    border-radius: 20px;
}

.info h1 {
    font-family: khmer os dangrek;
    color: rgb(248, 251, 250);
    margin-top: 10px;
}

.price {
    color: rgb(187, 252, 36);
    font-size: 25px;
    margin-top: 20px;
}

.detail {
    font-family: khmer os battambang;
    font-size: 16px;
    color: rgb(190, 221, 221);
    margin-top: 30px;
}

.quantity {
    font-family: khmer os battambang;
    font-size: 16px;
    color: rgb(251, 108, 170);
}

.quantity input {
    color: #04574f;
    font-weight: bold;
    font-size: 16px;
    margin-top: 70px;
    border-radius: 8px;
    width: 50px;
    padding: 5px
}
.add-buy {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.add-cart {
    font-family: khmer os bokor;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(229, 207, 201);
    border: none;
}

.buy-now {
    font-family: khmer os bokor;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(229, 207, 201);
    border: none;
}
.add-cart:hover{
    background-color: #04574f;
    color: rgb(127, 245, 127);
    box-shadow: 0px 1px 20px 1px #ebd1e3;    
}

.buy-now:hover{
    background-color: #04574f;
    color: rgb(127, 245, 127);
    box-shadow: 0px 1px 20px 1px #ebd1e3;    
}